user-service/.env
auth-service/.env
status-market-service/.env
file-service/.env
logistic-service/.env
notification-service/.env
payment-service/.env
schedule-service/.env
product-service/.env
create-merge-request.js
.env